{% extends 'layouts/base.html' %}
{% load static my_tags %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'main:home' %}">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    {% include 'layouts/shop_sidebar.html' %}
                </div>

                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing {{ page_obj.start_index }}–{{ page_obj.end_index }}
                                        of {{ page_obj.paginator.count }} results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select onchange="addSearchParam('sort', this.value)">
                                        <option value="">-------</option>
                                        <option {% if reques.GET.sort == 'real_price' %}  selected {% endif %}  value="real_price">Low To High</option>
                                        <option {% if reques.GET.sort == '-real_price' %}  selected {% endif %}  value="-real_price">High To Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in object_list %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item sale">
                                    <div class="product__item__pic set-bg"
                                         data-setbg="{{ product.main_image.url }}">
                                        {% if product.is_discount %}
                                            <span class="label">Sale</span>
                                        {% endif %}
                                        {% if product.is_new %}
                                            <span class="label bg-white text-dark{% if product.is_discount %} mt-4 {% endif %}">New</span>
                                        {% endif %}
                                        <ul class="product__hover">
                                            <li><a href="#"><img src="{% static 'main/img/icon/heart.png' %}"
                                                                 alt=""></a></li>

                                            <li><a href="#"><img src="{% static 'main/img/icon/search.png' %}"
                                                                 alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>{{ product.title }}</h6>
                                        <a href="#" class="add-cart">+ Add To Cart</a>
                                        <div class="rating">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5>{% if product.is_discount %}
                                            ${{ product.real_price }}
                                            &nbsp;
                                            <del class="text-secondary">${{ product.price }}</del>{% else %}
                                            ${{ product.price }}{% endif %}</h5>
                                        <div class="product__color__select">
                                            <label for="pc-4">
                                                <input type="radio" id="pc-4">
                                            </label>
                                            <label class="active black" for="pc-5">
                                                <input type="radio" id="pc-5">
                                            </label>
                                            <label class="grey" for="pc-6">
                                                <input type="radio" id="pc-6">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if page_obj.paginator.count >= 9 %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="product__pagination">
                                    {% for page in page_obj.paginator.page_range %}
                                        <a class="{% if page == page_obj.number %}active{% endif %}"
                                           href="?page={{ page }}">{{ page }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
{% endblock %}

{% block extra_js %}
    <script>
        function addSearchParam(name, value) {
            let searchParam = new URLSearchParams(window.location.search)
            if (searchParam.has(name) && searchParam.get(name) == value) {
                searchParam.delete(name)
            } else {
                searchParam.set(name, value)
            }
            window.location.search = searchParam.toString()
        }

        $(".js-range-slider").ionRangeSlider({
            type: "double",
            grid: true,
            min: {{ min }},
            max: {{ max }},
            from: {% get_current_price request 0 %},
            to: {% get_current_price request 1 %},
            prefix: "$",
            onFinish(data) {
                addSearchParam('price', data.from.toString() + ';' + data.to.toString())
            }
        });
    </script>
{% endblock %}